{% extends 'content/base.html' %}

{% block title %}Home{% endblock %}

{% block content %}
<div class="content">
    <div class="slider-wrapper">
        <div class="slider-track">
            <div class="slider-item">
                <img src="https://avatars.mds.yandex.net/get-ott/1534341/2a0000017bf0ecb5ba9d037b88296a5dd96f/scale_1200" alt="movie">
            </div>
            <div class="slider-item">
                <img src="https://avatars.mds.yandex.net/get-ott/236744/2a0000017c9a9f2e55410094d5606bc196d9/scale_1200" alt="movie">
            </div>
            <div class="slider-item">
                <img src="https://avatars.mds.yandex.net/get-ott/1534341/2a0000017b88a29f580d61409435fa08b356/scale_1200" alt="movie">
            </div>
        </div>
    </div>
    <div class="container-movie">
        {% for content in movies %}
        <div class="item">
            <div class="cover">
                <a href="{% url 'film' pk=content.id %}">
                    <img src="{{ content.cover_film }}" alt="cover">
                </a>
            </div>
            <div class="name">
                <a href="{% url 'film' pk=content.id %}" title="{{ content.name_film }}">{{ content.name_film }}</a>
            </div>
        </div>
        {% endfor %}
    </div>

    <div class="container-genres">
        {% for content in genres %}
        <div class="genre"><a href="{% url 'genre_films' pk=content.id %}">{{ content.name_genre }}</a></div>
        {% endfor %}
    </div>

    <div class="container-actors">
        {% for content in actors %}
        <div class="actor">
            <div class="actor-photo">
                <a href="{% url 'actor_about' pk=content.id %}"><img src="{{ content.image_actor }}" alt="photo"></a>
            </div>
            <div class="actor-name"><a href="{% url 'actor_about' pk=content.id %}" title="{{ content.name_actor }}">{{ content.name_actor }}</a></div>
        </div>
        {% endfor %}
    </div>
</div>
{% endblock %}
